.header{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

}
.logo{
  display: flex;
}
.nav{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: row;

}
.text{
  margin-left: 25px;
  margin-right: 25px;
  font-family: Roboto, Arial;
  font-size: 20px;
}
.line{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.hero{
  display: flex;
  width: 100%;
  position: relative;
}
.hero-background{
  position: absolute;
  top: 10px;
  width: 100%;
}
.welcome{
  position: absolute;
  top:200px;
  left: 20px;
}
.to{
  position: absolute;
  top: 370px;
  left: 450px;
}
.nuwara-eliya{
  position: absolute;
  top:600px;
  left: 350px;
}
.main{
  position: relative;
  display: flex;
  width: 100%;
}
.background-main{
  position: absolute;
  width: 100%;
  top: 793px;

}
.sri-padaya{
  position: absolute;
  width: 35%;
  top: 900px;
  left: 90px;

}
.hortan-plains{
  position: absolute;
  width: 35%;
  top: 900px;
  left: 700px;
}
.gregory-lake{
  position: absolute;
  width: 35%;
  top: 1500px;
  left: 90px;
}
.ella{
  position: absolute;
  width: 35%;
  top: 1500px;
  left: 700px;
}

.nine-arch{
  position: absolute;
  top: 2100px;
  width: 35%;
  left: 90px;
}
.babara-ella{
  position: absolute;
  top: 2100px;
  left: 700px;
  width: 35%;
}
.main-background{
  position: absolute;
  top: 3400px;
  width: 100%;
}
